.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image: url('http://www.mrwallpaper.com/wallpapers/chicago-illinois-night-1366x768.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.medasyst-products {
  background-color: #efefef;
  border-bottom: 1px solid #dbdbdb;
}

.medasyst-products h2 {
  color: #393c3d;
  font-size: 24px;
}

.medasyst-products p {
  font-size: 15px;
  margin-bottom: 13px;
}

.medasyst-products a {
  color: #00b0ff;
}

.jumbotron-second {
  background-image: url('http://www.womenshealthmag.com/files/images/0410-youcan-hiking-0008.jpg');
  height: 800px;
}

.jumbotron-second h3 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron-second a {
  color: #00b0ff;
}

.footer { 
  background-color: #424242;
  height: 240px;
}

.footer h5 {
  color: #05C002;
}

.footer p {
  color: white;
  margin: 0px;
}

.footer a {
  color: white;
}

.footer .container {
  position: relative;
  top: 50px;
}

.jumbotron-products {
  background-image: url('https://ideasaboutcreditcards.files.wordpress.com/2012/10/2.jpg');
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-products h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  text-align: left;
}

.jumbotron-products .container{
  position: center;

}

.jumbotron-products p{
  font: bold;
}

.wnetcardq {
  background-color: #efefef;
  border-bottom: 1px solid #dbdbdb;
}

.faq ul {
  list-style-type: none;
}

.faq2 a {
  position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(64,64,64,1);
    font-family: 'Yanone Kaffeesatz';
    font-weight: 700;
    font-size: 3em;
    display: block;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    margin: 100px auto;
  width: 160px;
  text-align: center;
  
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

.faq2 a:active {
    -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}

.faq2 a:hover{
  background-color: rgba(219,87,5,1);
}


    
